<div class="wrapper three-cols">
    <app-card title="Search" customCls="side-bar" [isScrollable]="true">
      <app-hotel-form [text]="text" (search)="searchHotels($event)"></app-hotel-form>
      <app-separator></app-separator>
      <app-hotel-list
        [hotels]="hotels"
        [text]="text"
        [active]="active"
        (setActive)="setActive($event)"
      ></app-hotel-list>
    </app-card>

    <app-card customCls="map" [padding]="false">
      <app-gmap [active]="active"></app-gmap>
    </app-card>

    <app-card [centeredContent]="true">
        <app-rates [active]="active"></app-rates>
        <app-separator></app-separator>
        <app-stars [stars]="active?.stars"></app-stars>
        <br>
        <app-reservations [active]="active" (addToCart)="cart.addToCart(active, $event)"></app-reservations>
    </app-card>

    <app-card [isScrollable]="true" customCls="gallery">
      <app-image-gallery [active]="active" [activeImage]="activeImage"></app-image-gallery>
    </app-card>

    <app-card customCls="services" [isScrollable]="true" title="Services">
      <app-services [active]="active"></app-services>
    </app-card>

    <app-card customCls="contact" title="Contacts">
        <app-contact-form (send)="sendEmail($event)"></app-contact-form>
    </app-card>
  </div>